.nav-list.li{
    display: flex;
}

.d-block {
  max-height: 600px;
  object-fit: contain;
}

.row {
  justify-content: center;
}

.cart_product_img {
  object-fit: contain;
  height: auto;
}

.f1, tr, th {
  flex: unset;
  max-width: unset;
}

.product-img {
  min-height: auto;
  height: 400px;
  object-fit: contain;
}

.product-price-c {
  text-align: right;
  font-size: 20px;
}

.title-p {
  line-height: 1.1;
}

.footer_area {
  padding: 0;
}

.pimg{
  width: 100%;
  height: 100%;
}

.bin:hover {
  content: url(img/core-img/bin_red.png);
}

.daas-star-on:hover {
  content: url(img/core-img/star_off.png);
}

.daas-star-off:hover {
  content: url(img/core-img/star_on.png);
}

.main-content-wrapper {
  flex-wrap: nowrap;
}
